#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;

    .profile {
        margin-top: 6rem;
        width: 110px;
        height: 110px;

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .profile_text {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        h3 {
            color: var(--white);
            font-size: 2rem;
            @media only screen and (max-width: 500px) {
                font-size: 1.5rem;
            }
            span {
                color: var(--name);
            }
        }

        .job {
            color: var(--dark-blue);
            opacity: 0.5;
            font-size: 0.85rem;
            margin-top: 0.5rem; /* Adjust margin for better spacing */
        }

        .text {
            margin-top: 2rem;
            color: var(--light-blue);
            text-align: center;
            font-size: 3.75rem;
            line-height: 1.3;

            @media only screen and (max-width: 800px) {
                font-size: 2rem; /* Adjust font size for smaller screens */
                margin-top: 1rem; /* Adjust margin for smaller screens */
            }
        }

        a {
            margin-top: 3rem;
            text-decoration: none;
            color: #fff;
            background: var(--blue);
            padding: 0.65rem 1rem;
            border-radius: 10px;
            font-size: 0.85rem;
            text-transform: capitalize;

            @media only screen and (max-width: 800px) {
                margin-top: 2rem; /* Adjust margin for smaller screens */
            }
        }

        div {
            position: absolute;
            background: var(--card-color);
            color: var(--dark-blue);
            padding: 0.35rem 1rem;
            border-radius: 25px;
            font-size: 0.85rem;
            cursor: pointer;
            display: block; /* Ensure divs are visible by default */
        }

        @media only screen and (max-width: 800px) {
            div {
                display: none; /* Hide divs on smaller screens */
            }
        }

        .web {
            right: -1rem;
            top: 3.5rem;
        }

        .ui {
            top: 2rem;
            left: 2rem;
        }

        .freelance {
            bottom: 2rem;
            left: 0;
        }
    }

    &:hover {
        transform: scale(1.1);
        background: url('../assets/abstract-colorful.jpg') no-repeat center center;
        background-size: cover;
        transition: all 1s ease-in-out;
        color: white; /* Adjust text color on hover */
    }

    @media only screen and (max-width: 500px) {
        .profile {
            margin-top: 7rem; /* Adjust margin for smaller screens */
        }
    }
}
