nav {
        background-color: var(--background);
        transition: var(--transition);
        z-index: 2;
        top: 0;
        left: 0;
        right: 0;
        margin-top: 0;
        position: fixed;
        width: 100%;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
        .py-3
{
        padding: 1.5rem 0;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        

        .brand {
            display: flex;
            gap: 0.3rem;

            span {
                font-size: 1.5rem;
                color: var(--white);
                font-weight: 100;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                
            }
            a{
                text-decoration: none;
            }

            .dot {
                color: var(--ocean-blue);
            }
        }

        .links-container {
            .toggle {
                display: flex;
                gap: 1rem;
                flex-direction: row-reverse;
                position: relative;
                z-index: 2;

                .sun {
                    color: yellow;
                    font-size: 1.4rem;
                }

                .moon {
                    color: blue;
                    font-size: 1.4rem;
                }

                svg {
                    color: var(--white);
                    font-size: 1.5rem;
                    
                    transition: var(--transition);
                        
                        
                }
            }

            .links {
                width: 0vw;
                position: fixed;
                right: 0;
                top: 0;
                height: 100vh;
                z-index: 1;
                background-color: var(--background);
                visibility: hidden;
                transition: var(--transition);
                opacity: 0;
                                
                -webkit-transition: var(--transition);
                -moz-transition: var(--transition);
                -ms-transition: var(--transition);
                -o-transition: var(--transition);
                ul{
                    height: 100%;
                    list-style-type: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 6rem;
                    font-size: 1.1rem;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

                    li {
                        a {
                            text-decoration: none;
                    
                            color: var(--blue);
                            font-weight: bold;
                        }

                        .sun {
                            color: yellow;
                            font-size: 1.4rem;
                        }

                        .moon {
                            color: blue;
                            font-size: 1.4rem;
                        }
                    }

                    .color-mode {
                        display: none;
                    }
                }
            }

            .responsive-toggle {
                width: 60vw;
                right: 0vw;
                visibility: visible;
                opacity: 1;
            }
        }
    }

    @media only screen and (min-device-width: 1200px) {
        background-color: var(--background);
        top: 0;
        left: 0;
        right: 0;
        margin-top: 0;
        position: fixed;
        width: 100%;
        
        .py-3
{
            padding: 1.25rem 0;
        }
        .links{
            background-color: var(--background);
        }

        .container {
            .links-container {
                .toggle {
                    display: none;
                }

                .links {
                    position: initial;
                    height: max-content;
                    visibility: visible;
                    opacity: 1;
                    width: 100%;

                    ul {
                        height: 1rem;
                        flex-direction: row;

                        .color-mode {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}