@import "base";
@import "scrollToTop";
@import "navbar";
@import "home";
@import "chatgpthome";
@import "homes";
@import "services";
@import "categories";
@import "skills";   
@import "Contacts";
@import "choose";
@import "products";
@import "promo";
@import "footer";
@import "modal";
@import "contact";
@import "elevatorpitch"
